.gamesArea {
    max-width: 100%;
    margin:20px auto 0;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #7869FF;
    color: #2d3142;
}

.gamesArea img {
    margin-bottom: 12px;
    width:350px;
    height:350px;
    border-radius: 5px;
}

.gamesArea article {
    background: #ffffff;
    margin-bottom:30px;
    flex: 0 0 200px;
    margin-right: 20px;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding:10px;
}

.gamesArea article:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  }

  .gamesArea h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.gamesArea p {
    margin-bottom: 10px;
}  



/* .gamesArea {
  max-width: 100%;
  margin: 20px auto 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 100px;
  background: #7869FF;
  color: #2d3142;
}

.gamesArea article {
    background: #fff;
    flex:0 0 200px;   
    margin-right: 20px;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding:20px;
    margin-bottom:20px;
}
.gamesArea article:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.gamesArea h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.gamesArea p {
    margin-bottom: 10px;
}

.gameArea img {
    border: 5px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}


 */