.navbar {
    margin-bottom: 60px;
    height: 50px;        
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #7869FF;
    color: #ffffff;    
}

.navbar h1 {
    text-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.areaBusca button {
    background: transparent;
    width: 30px;
    height: 30px;
}

.areaBusca input {
    border: 2px solid rgb(77, 66, 172);
    box-sizing: border-box;
    border-radius: 15px;
    width: 400px;
    height: 30px;
    color: #2d3142;
    padding: 20px;
    font-size: 15px;
}

.joystick {
    transform: rotate(30deg);
    width: 30px;
}

.lupa {
    width: 20px;
}

.socialmedia img {
    width: 40px;
    margin: 2px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
}